<ion-header>
    <div class="titleContainer">
        <p class="title">BlablaMovie</p>
    </div>
    <!-- <button class="connectUser" routerLink="/user" routerDirection="root">Connexion</button> -->
</ion-header>

<div class="container">
    <div class="form signUp">
        <p>Nouvel utilisateur</p>
        <input type="text" required [(ngModel)]="user.name" placeholder="Nom d'utilisateur">
        <input type="email" required [(ngModel)]="user.email" placeholder="Email">
        <input type="password" required [(ngModel)]="user.password" placeholder="Mot de passe">
        <input type="date" required [(ngModel)]="user.birthday">
        <button (click)="validateSignUp()" >Valider</button>
    </div>
    <div class="form signIn">
        <p>Utilisateur déjà existant</p>
        <input type="email" required [(ngModel)]="user.email" placeholder="Email">
        <input type="password" required [(ngModel)]="user.password" placeholder="Mot de passe">
        <button (click)="validateSignIn()" >Valider</button>
    </div>
</div>