<ion-header>
    <div class="titleContainer">
        <p class="title">BlablaMovie</p>
    </div>
    <button class="connectUser" routerLink="/user" routerDirection="root">Connexion</button>
</ion-header>

<div class="container" padding>
    <div class="content">
        <div class="movieList">
            <div class="movie" *ngFor="let movie of movies" [ngStyle]="{'background-image': 'url(' + movie.Poster + ')'}">
                <p>{{movie.Title}}</p>
            </div>
        </div>
    </div>
</div>