<ion-header>
    <div class="titleContainer">
        <p class="title" (click)="backHome()">BlablaMovie</p>
    </div>
    <button class="connectUser" routerLink="/user" routerDirection="root">
        {{user!==undefined?user.username:'Connexion/Création de compte'}}
    </button>
</ion-header>

<div class="container" padding>
    <p>Votez pour vos 3 films préférés!</p>
    <p>Si votre film est en haut du classement à la fin de la semaine, vous remporterez peut-être votre poids en
        hot-dogs</p>
    <div class="bestMovie" *ngIf="bestMovie && bestMovie.score >= 1">
        <p>Cette semaine en haut du classement:
            {{bestMovie.Title}}({{bestMovie.Year}})</p>
        <img [src]="bestMovie.Poster" alt="">
    </div>
    <ion-button color="dark" (click)="goToMovieList()">Accéder à la liste</ion-button>
</div>

<div class="gif" *ngIf="showGif">
    <img src="../../assets/tenor.gif" alt="">
</div>

<p class="terms" (click)="displayGif()" >Cliquer ici</p>