<ion-header>
    <div class="titleContainer">
        <p class="title" (click)="backHome()" >BlablaMovie</p>
    </div>
    <button class="connectUser" routerLink="/user" routerDirection="root">
        {{user!==undefined?user.username:'Connexion/Création de compte'}}
    </button>
</ion-header>

<div class="container">

	<div>
		<div class="header">
			<p class="title">{{movie.Title}}</p>
		</div>
		<div class="content">
			<img [src]="movie.Poster" alt="">
			<p>{{movie.score}}</p>
		</div>
	</div>

</div>